/* global */
body {
    background-color: #2a2135;
    background: radial-gradient(#422e5a, #1f1827) !important;
    color: rgb(31, 31, 31);
}

h1 {
    color: #B8B08D;
}

h3 {
    color: #F29559;
}

/* navbar */
form {
    display: inline-block;
    width: 500px;
}

nav {
    background-color: #4c306d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.294);
}

/* gif cards */
.card {
    display: inline-block;
    margin: 0.65em;
    width: 545px;
  }

.rotate-left:hover {
    transform: rotate(-0.01turn);
}

.rotate-right:hover {
    transform: rotate(0.01turn);
}

.rotate-left:hover,
.rotate-right:hover {
    box-shadow: 10px 15px 30px rgba(13, 9, 48, 0.966);
    transition: transform 250ms;
    z-index: 20;
}



/* gif container*/
@media only screen and (min-width: 1200px) {
    #add-shit-here {
        column-count: 2;
    }
  }
@media only screen and (max-width: 1199px) {
    #add-shit-here {
        column-count: 1;
    }
  }
/* buttons */
button{
    margin: 10px;
}

.giphy {
    color: #fff;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.623);
}

.giphy:hover {
    color: rgb(255, 206, 101);
    transition: background-color 100ms ease-in;
    background-color: #2a2135 !important;
    padding: 6px 12px;
    border: 1px solid rgb(255, 206, 101);
}